/* Background */

body {
    background-color: rgb(20, 20, 20);
}

/* Text stuff */

h1 {
    color: white;
}

.errorMsg {
    color: red;
    font-weight: bold;
    font-size: large;
}

.entityName {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

.componentName {
    font-weight: bold;
}

.attributeName {
    display: inline-flex;
    width: 30%;
    overflow: hidden;
    font-size: small;
}

.key {
    float: left;
    width: 30%;
}

/* List stuff */

ul {
    list-style: none;
}

#entityList {
    padding: 3rem 20%;
}

.componentList {
    padding: 1rem 10%;
}

.componentList.nested {
    padding: .1rem;
}

.attributeList {
    padding: .2rem 0;
}

/* elements stuff */

.entity {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(80, 80, 80);
    border: 1px solid black;
}

.entity.nested {
    padding: .1rem;
}

.component {
    padding: .5rem;
    margin: .2rem;
    border-radius: .5rem;
    background-color: rgb(100, 100, 100);
    border: 1px solid black;
}

.attribute {
    padding: .2rem;
    margin: .1rem;
    border-radius: .2rem;   
    background-color: gray;
    border: 1px solid black;
}

/* input stuff */

input {
    background-color: rgb(200, 200, 200);
    border-style: none none none none;
    border-color: rgb(60, 60, 60);
}

input:focus {    
    outline-offset: 0px;
    outline: aqua 1px solid;
}

.attribute input:not(.arrayInput) {
    width: 65%;
}

button.addArrayEntry {
    margin-top: .1rem;
}